.btn{
	background-color: #CCAD2D;
	padding: 15px 20px;
	border-radius: 10px;
	color: white;
	font-style: 0;
	text-decoration: none;
	font-family: 'Poller One', cursive;
}
.btn:hover{
	background-color: white;
	color: #CCAD2D;}